@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    background-color: rgb(15, 15, 15);
}

header {
    color: rgb(255, 255, 255);
    height: 70px;
}

header h1 {
    font: 20px sans-serif;
}

header h2 {
    font: 12px sans-serif;
}

.node {
    font: 10px sans-serif;
    fill: white;
}

.link {
    pointer-events: none;
}

path {
    transition: opacity 0.5s ease-in;
    stroke-opacity: 0.5;
    stroke: rgba(240, 248, 255, 0);
    stroke-dasharray: 0 0;
}

#radialMenu {
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    position: relative;
}

svg {
    fill: none;
}

.rootG {
    transform-origin: center center;
    transform-box: fill-box;
    /* transform: translate(); */
    position: absolute;
}

.mainG {
    transition: all 1s ease-out;
}

text {
    transition: transform 0.6s ease-out;
    cursor: pointer;
    opacity: 0.8;
}

.previewBox {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-color: aliceblue;
}

.href {
    fill: rgb(202 230 255);
    font-size: 11px;
    opacity: 1 !important;
}

.href:hover {
    text-decoration: underline;
}

#descriptionBox {
    animation: fadeIn 0.3s ease-in-out;
    transition: opacity 0.5s ease-out;
    position: absolute;
    max-width: 21rem;
    background-color: rgb(15 15 15 / 0%);
    color: #ffffffd1;
    font-size: 12px;
    transform: translate(-10%, -50%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 639px) {
    #descriptionBox {
        /* transform: translate(-48%, 40%); */
        max-width: 100vw;
        width: 80%;
        text-align: center;
        font: 10px sans-serif;
        transform: translate(-10%, -200%);
    }
    .href {
        text-anchor: middle;
    }
}

@media screen and (max-width: 420px) {
    #descriptionBox {
        transform: translate(-10%, -170%);
        /* font-size: 10px; */
        font: 10px sans-serif;
    }
    .href {
        text-anchor: middle;
    }
}